.change_password_main {
  display: flex;
  width: 20vw;
  flex-direction: column;
}

.change_password_main h1 {
  display: flex;
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
  margin-bottom: 20px;
}

.update_button_form_item {
  margin-bottom: 0px;
}
