.farm_info_main {
  display: flex;
  flex-direction: column;
}

.ant-tabs-nav {
  background-color: white;
  /* height: 78px; */
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  border-radius: 10px;
}

.ant-tabs {
  margin-top: 10px;
}

.ant-tabs-tab {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.ant-tabs-content-holder {
  margin-top: 10px;
}

.farm_dashboard_main {
  display: flex;
  width: 100%;
}

.product_card_main {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 16px;
  background-color: white;
  border-radius: 10px;
}

.product_card_image_conatiner {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #fafafa;
  padding: 20px 0px;
  align-items: center;
}

.product_image_wrapper {
  display: flex;
  width: 95px;
  height: 95px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border: 0.5px solid #dfe6e9;
  -webkit-box-shadow: inset 0px 0px 0px 7px white;
  -moz-box-shadow: inset 0px 0px 0px 7px white;
  box-shadow: inset 0px 0px 0px 7px white;
  box-sizing: border-box;
  background-color: white;
  margin-bottom: 10px;
}

.product_card_title {
  display: flex;
  font-family: Manrope;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}

.product_image {
  width: 100%;
  height: auto;
}

.product_card_details {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 12px;
}

.product_card_details_title {
  display: flex;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}
.product_card_details_content {
  display: flex;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

.product_card_details_divider {
  margin-top: 12px !important;
  margin-bottom: 0px !important;
}

.product_details_view_button_container {
  display: flex;
  margin-top: 12px;
  width: 100%;
}

.product_details_view_button {
  font-family: Manrope;
  font-size: 14px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 22px !important;
  letter-spacing: 0em;
  text-align: center !important;
}

.farm_information_main {
  display: flex;
  width: 100%;
}

.farm_information_table_conatainer {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.farm_information_basic_info_container {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px !important;
}

.farm_info_details_list_container {
  display: flex;
  padding: 16px;
  width: 100%;
  background-color: white;
  flex-direction: column;
  border-radius: 10px;
  margin-bottom: 20px;
}

.farm_info_details_list_container_title {
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}

.farm_info_details_list_container_table {
  margin-top: 12px;
}

.farm_information_basic {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.farm_information_address {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: 30px;
}

.farm_information_basic_head_area {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 0.5px solid #f5f5f5;
  padding-bottom: 16px;
}

.farm_information_basic_head_title {
  display: flex;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}

.farm_basic_info_content {
  display: flex;
  width: 100%;
  margin-top: 16px;
}

.farm_basic_info_content_title {
  display: flex;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

.farm_basic_info_content_value {
  display: flex;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}
