.layout_sider {
  justify-content: center;
  min-height: 100vh;
  background-color: white !important;
  min-width: 104px !important;
}

.main_layout_container {
  position: relative;
}

.ant-menu-title-content {
  opacity: 1 !important;
  margin: 0 !important;
  margin-bottom: 8px !important;
}

.ant-menu-item-active .ant-menu-item-selected {
  color: #2d9cdb !important;
}

.menu_item_span {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0.43px;
  text-align: center;
}

.anticon anticon-user ant-menu-item-icon {
  line-height: 0px !important;
  display: flex !important  ;
}

.ant-menu-item {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  margin: 0px !important;
  line-height: 0px !important;
  height: fit-content !important;
  margin-bottom: 16px !important;
  color: rgba(0, 0, 0, 0.6);
}

.ant-menu-item-selected {
  background-color: white !important;
}

.layout_header {
  position: sticky;
  top: 0;
  padding: 20px 30px !important;
  height: fit-content !important;
  background-color: #fafafa !important;
  z-index: 1;
}

.layout_header_container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px 12px !important;
  background-color: white;
  border-radius: 10px;
}

.ant-menu-item-selected::after {
  opacity: 1 !important;
  transform: scaleY(1) !important;
}

.layout_header_container ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  height: fit-content;
  margin: 0;
}

.ant-layout-header {
  line-height: 0 !important;
}

.layout_header_container li {
  margin-right: 25px !important;
  height: fit-content !important;
}
.layout_header_container li:last-child {
  margin-right: 0px !important;
}

.layout_content {
  background-color: #fafafa;
  color: black;
  padding: 0px 30px !important;
}

.image_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.image_wrapper:hover {
  cursor: pointer;
}

.profile_image_header {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.sider_logo {
  display: flex;
  width: 100%;
  padding: 17px 0px;
  justify-content: center;
  align-items: center;
}

.ant-tooltip {
  display: none !important;
}

.notification_icon:hover {
  cursor: pointer;
}

.profile_dropdown {
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding: 4px;
  width: 236px;
}

.profile_dropdown_list_profile_settings {
  display: flex;
  flex-direction: column;
}

.profile_dropdown_list_profile_settings h1 {
  display: flex;
  margin: 0;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.15000000596046448px;
  text-align: left;
}

.profile_dropdown_list_profile_settings h2 {
  display: flex;
  margin: 0;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.25px;
  text-align: left;
  color: #2d9cdb;
  margin-top: 4px;
}

.profile_dropdown_list_content {
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.10000000149011612px;
  text-align: left;
  color: rgba(0, 0, 0, 0.8);
}

.ant-popover-inner {
  border-radius: 10px;
}

.profile_dropdown_divider {
  margin: 12px 0px !important;
}

.profile_dropdown_list_content:hover {
  cursor: pointer;
}
