.forget_password_container {
  display: flex;
  flex-direction: column;
}

.forget_password_title {
  display: flex;
  font-family: Manrope;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 20px;
}

.ant-input-affix-wrapper > input.ant-input {
  margin-left: 6px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.ant-checkbox + span {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

.check_your_mail_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.check_mail_head {
  display: flex;
  font-family: Manrope;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 16px;
}

.check_mail_description {
  display: flex;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 11px;
  margin-bottom: 36px;
}
